{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": ["prettier", "svelte3"],
  "extends": ["airbnb-base","prettier"],
  "rules": {
    "no-underscore-dangle": "warn",
    "import/no-extraneous-dependencies": false,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "trailingComma": "es5",
        "printWidth": 130
      }
    ]
  }
}